html {
  font-family: "PT Mono", monospace;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  background: white;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
      to bottom right,
      rgba(230, 184, 0, 0.55),
      rgba(0, 153, 0, 0.5)
    ),
    url("https://res.cloudinary.com/cremz/image/upload/c_scale,h_1024/v1526401120/The_Persistence_of_Memory.jpg")
      no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.today {
  text-align: center;
  position: absolute;
  top: calc(20% - 50px);
  left: 2rem;
  width: 60%;
  color: rgb(245, 245, 245);
  text-shadow: 0.3rem 0.3rem 0.2rem rgb(0, 0, 0);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  letter-spacing: 2px;
}

.clock {
  width: 35rem;
  height: 35rem;
  border: 0.3rem solid rgb(0, 0, 0);
  border-radius: 50%;
  margin: 50px auto;
  padding: 2rem;
  box-shadow: 0.8rem 0.8rem 0.8rem rgb(0, 0, 0);
  position: absolute;
  right: 5rem;
  background: linear-gradient(
      to bottom right,
      rgba(230, 184, 0, 0.55),
      rgba(191, 255, 128, 0.5)
    ),
    url("https://res.cloudinary.com/cremz/image/upload/c_scale,q_100,w_695/v1526401120/The_Persistence_of_Memory.jpg")
      center;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-4px);
}

.hand {
  width: 50%;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.73, -0.01, 0.6, 1.7);
  height: 0.4rem;
  border-radius: 100% 0px 0px 100%;
}

.hour-hand {
  background-color: rgba(128, 0, 0, 0.7);
  width: 40%;
  left: 10%;
}

.minutes-hand {
  background-color: rgba(230, 92, 0, 0.7);
  width: 48%;
  left: 2%;
}

.seconds-hand {
  background-color: rgba(255, 0, 0, 0.7);
}

.round {
  background: rgb(0, 0, 0);
  opacity: 1;
  position: absolute;
  top: calc(50% - 0.75em);
  left: 50%;
  border-radius: 50%;
  height: 1.2em;
  transform: translate(-50%);
  width: 1.2em;
}

li {
  position: absolute;
  list-style-position: inside;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  margin: -1.5rem;
  color: rgb(0, 0, 0);
}

li:nth-child(1) {
  transform: rotate(300deg) translate(17.5rem) rotate(-300deg);
}
li:nth-child(2) {
  transform: rotate(330deg) translate(17.5rem) rotate(-330deg);
}
li:nth-child(3) {
  transform: translate(17.5rem);
}
li:nth-child(4) {
  transform: rotate(30deg) translate(17.5rem) rotate(-30deg);
}
li:nth-child(5) {
  transform: rotate(60deg) translate(17.5rem) rotate(-60deg);
}
li:nth-child(6) {
  transform: rotate(90deg) translate(17.5rem) rotate(-90deg);
}
li:nth-child(7) {
  transform: rotate(120deg) translate(17.5rem) rotate(-120deg);
}
li:nth-child(8) {
  transform: rotate(150deg) translate(17.5rem) rotate(-150deg);
}
li:nth-child(9) {
  transform: translate(-17.5rem);
}
li:nth-child(10) {
  transform: rotate(210deg) translate(17.5rem) rotate(-210deg);
}
li:nth-child(11) {
  transform: rotate(240deg) translate(17.5rem) rotate(-240deg);
}
li:nth-child(12) {
  transform: rotate(270deg) translate(17.5rem) rotate(-270deg);
}

@media only screen and (max-width: 768px) {
  body {
    padding-bottom: 3rem;
  }

  .today {
    position: absolute;
    top: calc(5% - 50px);
    left: 2rem;
    right: 2rem;
    width: 80%;
    margin: auto;
    font-size: 2rem;
  }

  .clock {
    position: absolute;
    top: calc(50% - 50px);
    right: 0;
    left: 0;
    margin: auto;
  }
}

@media only screen and (max-width: 425px) {
  .clock {
    transform: scale(0.68, 0.68) translate(-15%, 15%);
    position: fixed;
  }
}
